body{
    background-color: rgb(221, 221, 221);
}

#menu-navigazione{
    background-color: rgba(175, 175, 175, 0.815);
    height: 100%;
    width: 100%;
}

h1,h2,p,span{
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.text-center{
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: rgba(0, 0, 0, 0.623);
}

.monospace{
    font-family: 'Roboto Mono', monospace;
}